@import '../../../scss/index.scss';

.publications {
	margin-top: 50px;
}

.preview-publication {
	height: 100%;

	&:hover {
		cursor: pointer;
		opacity: 0.9;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}